html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
	max-width: 1200px;
	width: 90%;
}

body, .container, header, .top-section, .bottom-section, footer, header nav ul li {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}


h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

.bottom-section {
	width: 100%;
}

h1 {
	font-size: 1.875em;
	width: 100%;
	border-bottom: 3px solid #77a466;
	padding: 10px;
}
h2 {
	font-size: 1.125em;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: .875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
}

header h1 span {
	color: #77a466;
}

nav {
	width: 100%;
}

ul{
	padding: 0px;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 10px; 
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/


.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}


.main-title h2 {
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 25px;
}


.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	text-align: left;
	width: 100%;
}

p, h3, li{
	padding:0px;
}

.menu {
	list-style: none;
	text-align: left;
	width: 100%;
}
.menu li {
	color:#77a466;
	text-align: left;
	margin: 10px 0;
}


.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 0px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
		margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.167em;
}

	
.review, .meun, .address {
	padding: 5px;

}

/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {
	.bottom-section{
		justify-content: center;
		display: flex;
		flex-flow: nowrap;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		height: 30%;
		align-items: baseline;
		}

	.section-two {
		border-right: 1px solid #eee;
		border-left: 1px solid #eee;
	}

	.section-one, .section-two, .section-three {
		padding: 1%;
		border-left: 1px solid #eee;
	}
}


/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {
	

	h1{
		display: flex;
		border-bottom: none;
		width: 30%;
		padding: 0%;
	}
	header nav {
		width: 44%;
	}

	nav ul{
		display: flex;
	}

	header {
	display: flex;
	justify-content: space-between;
	}
	
	.bottom-section {
		display: flex;
		align-items: baseline;
		justify-content: space-around;
	}

	.section-one, .section-two, .section-three {
		padding: 1%;
	}


}