/* ----------- For screens 768px and larger ----------- */
@media (min-width: 768px) {


}

/* ----------- For screens 1200px wide and larger----------- */
@media (min-width: 1200px) {



}

html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.container{
	max-width: 1200px;
	width: 90%;
}

body, .container, header, .top-section, .bottom-section, footer, header nav ul li {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}

h1 {
	font-size: 1.875em;
	width: 100%;
	border-bottom: 3px solid #77a466;
	padding: 10px;
}
h2 {
	font-size: 1.125em;
	text-align: center;
}

h3 {
	font-size: 0.75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	border-bottom: 3px solid #77a466;
	width: 100%;
	text-align: center;
}

header h1 span {
	color: #77a466;
}

nav {
	width: 100%;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em;
	padding: 5px; 
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/


.main-image img {
	border-bottom: 3px solid #77a466;
	width: 100%;
}


.main-title h2 {
	text-align: left;
	color: #77a466;
}
.main-title p {
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	text-align: left;
	width: 90%;
}




.menu {
	list-style: none;
	text-align: left;
}
.menu li {
	color:#77a466;
	text-align: left;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 1.167em;
}
